/*
 * font-awesome is provided by ala-bootstrap3
 **** =require font-awesome.css
 *=require leaflet/leaflet.css
 *=require record.css
 */

 i.dwc-logo {
     mask-image: url(../images/dwc-logo.svg);
     background-color: black;
     background-size: cover;
     display: inline-block;
     width: 1em;
     height: 1em;
 }